body {
  font-family: "Arial", "Meiryo", sans-serif;
}
html {
  font-size: 20px;
  text-align: center;
}
/* 色を変更 */
.pink{
  color: rgb(255,192,203);
}
.blue{
  color: skyblue;
}
/* ここでGoogleフォントを指定*/
h1{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  font-family: suns-serif;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
#basic p {
  font-weight: bold;
}